- content_for :title do
  Administration Home


%h2 Administration Home
#main
  %p This is the administration interface for the FIXME application.
  %p This system ... what does it do? FIXME
#sidebar
  %p sidebar